* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: "Helvetica Neue", sans-serif;
}

body {
    background-color: #7FFFD4;
    height: 100vh;
    width: 100%;
}

header {
    padding: 1em;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container-title {
    height: 100%;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

a.logo {
    height: 40px;
    padding-right: 1em;
}

a.logo img {
    height: 100%;
}

select#level {
    margin: 0 0.5em 0 0.5em;
    width: 9em;

}

button#play {
    padding: 0 1.5em 0 1.5em;
}

main {
    justify-content: center;
    height: 100vh;
}

.grid {
    flex-wrap: wrap;
    width: 65vh;
    height: 65vh;
    border: 1px solid black;
}

.grid h2 {
    padding: 2em;
    text-align: center;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.5rem;
}

.active {
    background-color: #44d0ff;
}

footer {
    background-color: white;
    padding: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
}